.newTask {
  margin: 20px;
}

.newTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.newTaskItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
}

.headings {
  margin: 5px 0;
}

.input {
  height: 30px;
}

.newTaskButton {
  height: 30px;
  width: 100px;
  margin-top: 30px;
  cursor: pointer;
}
